################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DSA Prep/.vs/*
/DSA Prep/obj/*
/DSA Prep/bin/Debug/net8.0/DSA Prep.dll
/Array Question/bin/Debug/net8.0
/Array Question/obj
/DSA Prep/obj/DSA Prep.csproj.nuget.dgspec.json
/DSA Prep/bin/Debug/net8.0/Array Question.dll
/DSA Prep/bin/Debug/net8.0/Array Question.pdb
/DSA Prep/bin/Debug/net8.0/DSA Prep.exe
/DSA Prep/bin/Debug/net8.0/DSA Prep.pdb
/DSA Prep/obj/Debug/net8.0/ref/DSA Prep.dll
/DSA Prep/obj/Debug/net8.0/refint/DSA Prep.dll
/DSA Prep/obj/Debug/net8.0/apphost.exe
/DSA Prep/obj/Debug/net8.0/DSA Prep.AssemblyInfo.cs
/DSA Prep/obj/Debug/net8.0/DSA Prep.AssemblyInfoInputs.cache
/DSA Prep/obj/Debug/net8.0/DSA Prep.dll
/DSA Prep/obj/Debug/net8.0/DSA Prep.pdb
/DSA Prep/obj/Debug/net8.0/DSA Prep.sourcelink.json
